.env
# Python virtual environment
venv/
new_env/
spacyenv/
__pycache__/
*.pyc

# Large PyTorch files
*.dll
*.lib
*.so
*.pyd

# Model files
models/
resume_skills_ner_model_v2
**/resume_skills_ner_model_v2